@font-face {
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/raleway/Raleway-Thin.ttf');
}
@font-face {
    font-family: "Raleway-medium";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
}
@font-face {
    font-family: "Raleway-extraBold";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/raleway/Raleway-ExtraBold.ttf');
}
@font-face {
    font-family: "Raleway-semiBold";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: "Raleway-bold";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: "Montserrat-regular";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Montserrat-light";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: "Montserrat-extraLlight";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    position: relative;
}
.content {
    margin: 0 auto;
    max-width: 1170px;
}

*,
::before,
::after,
:active {
    // transition: .1s;
}
span,
a,
figure{
    transition: .3s;
}

#header__menu-toggle,
.header__menu-btn-pic {
    display: none;
}

.header {
    background-image: url('../img/bg-photo.png');
    background-size: cover;
    min-height: 985px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 0 220px 0 0;

        &-svg {
            fill: #ffffff;
            width: 64px;
            height: 56px;
        }

        &-txt {
            font-size: 34px;
            font-weight: 300;
            font-family: "Raleway-medium";
            color: #ffffff;
            text-decoration: none;

        }
    }

    &__logo:hover {

        .header__logo-svg,
        .header__logo-txt {
            fill: #c7b299;
            color: #c7b299;
        }
    }

    &__menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 22%;
    }

    &__nav {
        &-items {
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 770px;
        }

        &-item {
            font-size: 14px;
            cursor: pointer;
            font-family: "Montserrat-light";
            text-decoration: none;
            color: #ebebeb;

            &-form{
                display: flex;
                align-items: center;
            }
            &-bin {
                width: 18px;
                height: 24px;
                background-image: url("../img/bin.svg");
                fill: #ffffff;
                background-color: transparent;
                border: transparent;
                background-size: contain;
                background-repeat: no-repeat;
            }


            &-search {
                width: 24px;
                height: 24px;
                background-image: url("../img/loupe.svg");
                fill: #ffffff;
                background-color: transparent;
                border: transparent;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &-input {
                width: 70px;
                height: 24px;
                outline: none;
               // background-image: url("../img/loupe.svg");
                background-color: transparent;
                // background-size: contain;
                background-repeat: no-repeat;
                fill: #ffffff;
                border: transparent;
                color: #111111;
                border: 1px solid #ffffff;
                border-radius: 10px;
            }

            &-input:hover{
                    width: 200px;
                    transition: width 1s ease-out;
                    background-position: right;
                    border: 1px solid #ffffff;
                    border-radius: 10px;
                    color: #ffffff;
            }
        }

        &-item:hover {
            color: #c7b299;
        }
    }

    &__carusel {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 380px 150px 40px 150px;


        &-btn {
            display: block;
            width: 20px;
            height: 20px;
            margin: 40px;
            position: relative;
        }

        &-btn::after {
            content: "";
            display: block;
            width: 52px;
            height: 0px;
            border: 2px solid #979694;
            background-color: #979694;
            transform: rotate(225deg);
            position: absolute;
            top: 0px;
            left: 0;
        }

        &-btn::before {
            content: "";
            display: block;
            width: 52px;
            height: 0px;
            border: 2px solid #979694;
            background-color: #979694;
            transform: rotate(-225deg);
            position: absolute;
            top: 38px;
            left: 0;
        }

        &-btn:nth-of-type(1)::after {
            transform: rotate(-225deg);
        }

        &-btn:nth-of-type(1)::before {
            transform: rotate(225deg);
        }

        &-text {
            display: flex;
            flex-direction: column;
            max-width: 586px;
            margin: 0 auto;

            &-1 {
                font-family: "Raleway-medium";
                font-size: 36px;
            }

            &-2 {
                font-family: "Raleway-extraBold";
                font-size: 52px;
                margin-top: 14px;
            }

            &-3 {
                font-family: "Montserrat-light";
                font-size: 16px;
                margin: 19px 0 32px 0;
                line-height: 24px;
            }

            &-btn {
                padding: 21px 35px;
                box-sizing: border-box;
                font-family: "Raleway-extraBold";
                font-size: 14px;
                display: flex;
                border: none;
                border-bottom: 3px solid #998675;
                background-color: #998675;
                color: #fff;
                border-radius: 10px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                word-break: break-all;
                margin: 0 auto;





            }
        }
    }


    &__pagination {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px 0;
        margin: 0 0 42px 0;

        &-item {
            display: flex;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            box-sizing: border-box;
            background-color: #ffffff;
        }

        &-item:hover {
            background-color: transparent;
            border: 2px solid #998675;
        }
    }
}

.features {
    min-height: 373px;
    display: flex;
    justify-content: center;

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        max-width: 300px;
        margin: 0 0 0 0;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }

    &__item:hover {
        .features__text-head {
            color: #c7b299;
        }

        .features__img {
            fill: #c7b299;
        }

        &:after {
            background-color: #c7b299;
        }

        &:after:hover {
            top: 0;
        }
    }

    &__item:after {
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        margin: 24px 0 0 0;
        background-color: #f1eee9;
    }

    &__texts {
        text-align: center;
    }

    &__text-head {
        font-family: "Raleway-semiBold";
        font-size: 22px;
        margin: 30px 0 0 0;
        color: rgb(85, 85, 85);
    }

    &__text-p {
        font-family: "Montserrat-light";
        font-size: 14px;
        margin: 20px 0 0 0;
        color: rgb(140, 140, 140);
    }

    &__img {
        fill: #555555;
        width: 55px;
        height: 48px;
    }
}

.realized-proj {
    min-height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfaf8;
    padding: 83px 0 0 0;
    box-sizing: border-box;

    &__header {
        font-family: "Raleway-semiBold";
        font-size: 30px;
        max-width: 710px;
        font-weight: 500;
        color: rgb(85, 85, 85);
        line-height: 1.2;
        margin: 0;
    }

    &__text {
        font-family: "Montserrat-light";
        max-width: 710px;
        font-size: 16px;
        margin: 23px 0 0 0;
        text-align: center;
        color: rgb(140, 140, 140);
        line-height: 1.75;
    }

    &__multi-photo {
        width: 100%;
        margin: 40px 0 0 0;
        min-height: 482px;
        background-image: url("../img/browser-center.png"),
            url("../img/browser-left.png"),
            url("../img/browser-right.png");
        //   background-size: 60%, 40%, 40%;
        background-repeat: no-repeat;
        background-position: bottom center, bottom left, bottom right;
    }
}

.purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 150px;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -moz-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -webkit-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -ms-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);


    &__wrapper {
        width: 531px;
        margin: 0 470px 0 0;
    }

    &__title {
        width: 100%;
        margin: 0;
        font-size: 28px;
        font-family: "Raleway-medium";
        color: #fff;
        line-height: 1.2;
        text-align: left;

        & span {
            color: rgb(199, 178, 153);
        }
    }

    &__text {
        width: 100%;
        margin: 0;
        font-size: 18px;
        font-family: "Montserrat-regular";
        color: rgb(97, 88, 85);
        line-height: 1.2;
        text-align: left;
    }

    &__button {
        width: 170px;
        min-height: 50px;
        border: none;
        border-bottom: 2px solid #736357;
        border-radius: 3px;
        background-color: #998675;
        box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);

        &-text {
            font-family: "Raleway-extraBold";
            font-size: 14px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.643;
            text-align: center;
        }
    }

}

.projects {
    padding: 81px 0 81px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-family: "Raleway-semiBold";
        font-size: 30px;
        margin: 0 auto;
        color: rgb(85, 85, 85);
        font-weight: 400;
        line-height: 1.2;
        margin: 0 0 24px 0;
    }

    &__text {
        font-family: "Montserrat-light";
        font-size: 16px;
        color: rgb(140, 140, 140);
        font-weight: 300;
        line-height: 1.75;
        max-width: 730px;
        text-align: center;
        margin: 0 0 48px 0;
    }

    &__nav {
        list-style-type: none;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 10px 0;

        &-item {
            margin: 0 10px 0 0;
            padding: 8px 27px 8px 27px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            background-color: transparent;
            font-family: "Montserrat-light", sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: #8c8c8c;
            box-sizing: border-box;
            text-transform: capitalize;
        }

        &-item:hover {
            cursor: pointer;
            color: #fbfaf8;
            background-color: #998675;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 40px 0;
    }

    &__img {
        margin: 0 auto;
        width: 370px;
        background-repeat: no-repeat;
        background-position: top;
        box-sizing: border-box;
        position: relative;
        &-text {
            margin: 237px 0 0 0;
            padding: 30px 0 27px 30px;
            background-color: #fbfaf8;
            position: relative;
        }
        &-text:before {
            content: "";
            border: 15px solid transparent;
            border-bottom: 10px solid #fbfaf8;
            position: absolute;
            top: -25px;
            left: 20px;

        }
        &-title {
            margin: 0 auto;
            font-family: "Raleway-medium";
            font-size: 20px;
            color: rgb(199, 178, 153);
            line-height: 1.2;
            font-weight: 400;
        }
        &-autor {
            margin: 14px auto 0 auto;
            font-family: "Montserrat-light";
            font-size: 14px;
            font-weight: 300;
            color: rgb(209, 209, 209);
            line-height: 1.429;
        }
        &:nth-of-type(1) {
            background-image: url('../img/projects-1.png');
        }
        &:nth-of-type(2) {
            background-image: url('../img/projects-2.png');
        }
        &:nth-of-type(3) {
            background-image: url('../img/projects-3.png');
        }
        &:nth-of-type(4) {
            background-image: url('../img/projects-4.png');
        }
        &:nth-of-type(5) {
            background-image: url('../img/projects-5.png');
        }
        &:nth-of-type(6) {
            background-image: url('../img/projects-6.png');
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin: 20px auto auto auto;
        }
    }

    &__img:hover {

        .projects__img-text {
            background-color: #362f2d;
        }
        .projects__img-text:before {
            border-bottom: 10px solid #362f2d;
        }
        .projects__img-title {
            color: #c9c8c7;
        }
        .projects__img-autor {
            color: #776a5d;
        }
        .projects__img-link,
        .projects__img-search {
            display: inline-block;
        }
    }


    &__button {
        font-family: "Raleway-extraBold";
        text-transform: uppercase;
        color: #fbfaf8;
        padding: 19px 45px 20px 43px;
        border-radius: 3px;
        background-color: #998675;
        box-shadow: rgba(115, 99, 87, 0.004);
    }

    &__img-link,
    &__img-search {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 30%;
        fill: #ffffff;
        display: none;
    }

    &__img-link:hover,
    &__img-search:hover {
        fill: #c5b198;
    }

    &__img-link {
        left: 38%;
    }

    &__img-search {
        right: 38%;
    }

}

.video-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    min-height: auto;

    &__video {
        width: 100%;
    }

    &__content {
        position: absolute;
        text-align: center;
        color: #fbfaf8;
    }

    &__btn-play {
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: rgba(0, 0, 0, 0.2);

        &-icon {
            margin: auto;
            fill: #fff;
        }
    }

    &__text {
        font-family: "Montserrat-light";
        font-size: 16px;
        max-width: 562px;
        margin: 29px 0 42px 0;
        line-height: 28px;
    }

    &__header {
        font-family: "Raleway-medium";
        font-size: 30px;
        margin: 44px 0 0 0;
    }

    &__time {
        font-family: "Montserrat-regular";
        font-size: 14px;
        line-height: 24px;
        color: rgb(199, 178, 153);
    }
}

.mobile-dev {
    background-color: #fbfaf8;
    color: #8c8c8c;
    padding: 80px 280px 0 420px;
    display: flex;
    align-items: center;

    &__img {
        margin: 0 30px 0 0;
    }

    &__img-mobile-site {
        display: none;
    }

    &__header {
        margin: 0;
        color: rgb(85, 85, 85);
        font-family: "Raleway-semiBold";
        font-size: 30px;
        margin: 0 0 40px 0;
    }

    &__items {
        list-style-type: none;
        line-height: 2;
    }

    &__text {
        font-family: "Montserrat-light";
        font-size: 16px;
        margin: 0 0 45px 0;
        line-height: 28px;
    }

    &__item {
        font-family: "Montserrat-light";
        font-size: 16px;
        margin: 0 0 10px 0;

        &:before {
            content: ">";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #c7b299;
            text-align: center;
            line-height: 15px;
            color: #ffffff;
            margin: 0 5px 0 0;
        }
    }
}

.statistics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    // min-height: 300px;
    padding: 70px 470px 60px 470px;
    background: linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -moz-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -webkit-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background: -ms-linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);

    &__item {
        text-align: center;
        margin: 0;

        &-img {
            flood-color: red;
        }

        &-header {
            margin: 32px 0 0 0;
            font-family: "Montserrat-extraLlight";
            font-size: 48px;
            color: rgb(255, 255, 255);
            line-height: 0.75;
        }

        &-text {
            margin: 21px 0 0 0;
            font-family: "Montserrat-light";
            font-size: 14px;
            color: rgb(199, 178, 153);
            text-transform: uppercase;
            line-height: 1.429;

        }
    }

    &__item:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        margin: 30px auto 0 auto;
        background-color: #fff;
    }
}

.recentpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0 80px 0;

    &__header {
        font-family: "Raleway-semiBold";
        font-size: 30px;
        color: rgb(85, 85, 85);
        font-weight: 400;
        line-height: 1.2;
    }

    &__text {
        font-family: "Montserrat-light";
        font-size: 16px;
        color: rgb(140, 140, 140);
        line-height: 1.75;
        max-width: 718px;
        text-align: center;
    }

    &__cards {
        display: flex;

        &-item {
            position: relative;
            border: 1px solid #fdfdfd;
            min-width: 370px;
            background-repeat: no-repeat;
            background-position: top;

            &:nth-of-type(1) {
                background-image: url("../img/post-photo1.png");
            }

            &:nth-of-type(2) {
                background-image: url("../img/post-photo2.png");
            }

            &:nth-of-type(3) {
                background-image: url("../img/post-photo3.png");
            }
        }

        &-calendar {
            position: absolute;
            min-width: 50px;

            top: 20px;
            left: 20px;
        }

        &-date {
            font-family: "Montserrat-light";
            color: #ffffff;
            background-color: #363636;
            border-radius: 2px;
            text-align: center;
            padding: 9px 0;
        }

        &-month {
            font-family: "Montserrat-light";
            color: #ffffff;
            background-color: #252525;
            border-radius: 2px;
            text-align: center;
            padding: 7px 0;
        }

    }

    &__content-txt {
        margin: 220px 0 0 0;
        padding: 30px 0 30px 28px;

        &-header {
            font-family: "Raleway-medium";
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            color: rgb(85, 85, 85);
            line-height: 1.2;
        }

        &-text {
            font-family: "Montserrat-light";
            margin: 20px 0 27px 0;
            font-size: 14px;
            font-weight: 300;
            color: rgb(140, 140, 140);
            line-height: 1.571;
        }

        &-ref {
            font-family: "Montserrat-light";
            font-size: 14px;
            color: rgb(199, 178, 153);
            line-height: 1.429;
            text-decoration: none;
        }

        &-ref:after {
            content: "";
            margin: 0 0 0 7px;
            display: inline-block;
            border: 5px solid transparent;
            border-left: 5px solid rgb(199, 178, 153);
        }
    }

    &__pagination {
        display: flex;
        position: absolute;
        top: 185px;
        left: 134px;

        &-item {
            width: 11px;
            height: 11px;
            margin: 0 5px;
            box-sizing: border-box;
            background-color: rgba($color:#fff, $alpha: 0.2);
            border-radius: 50%;
        }

        &-item:hover {
            border: 2px solid #a48d72;
            background-color: transparent;
        }
    }

    &__cards-item:hover {
        .recentpost__cards-date {
            background-color: #c7b299;
        }

        .recentpost__cards-month {
            background-color: #a48d72;
        }

        .recentpost__content-txt {
            background-color: #362f2d;
        }

        .recentpost__content-txt-header {
            color: #a48d72;
        }

        .recentpost__content-txt-text {
            color: #fff;
        }

        .recentpost__content-txt-ref {
            color: #a48d72;
        }

    }

    &__selectors {
        &-item {
            text-decoration: none;
            text-transform: none;
            margin: 0 0 0 7px;
            color: #d1d1d1;
        }

        &-item:after {
            content: ">";
            display: inline-block;
            width: 22px;
            height: 22px;
            font-size: 16px;
            font-weight: 600;
            border: 2px solid #d1d1d1;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            margin: 0 5px 0 0;
        }

        &-item:nth-of-type(1)::after {
            content: "<";
        }

        &-item:hover {
            color: #a48d72;
        }

        &-item:after:hover {
            border: 2px solid #a48d72;
            border-radius: 50%;
        }
    }
}

.logos {
    background-image: url('../img/logos-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 405px 130px 405px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;



    &__fig :hover {
        transform: scale(1.2);
    }
}

.other-info {
    padding: 80px 375px 80px 375px;
    background-color: #191919;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    &__about-item {
        max-width: 270px;
    }

    &__logo {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        color: #555555;
        font-weight: 300;
        font-family: "Montserrat-light";
    }

    &__header {
        margin: 0 0 20px 0;
        font-family: "Raleway-bold";
        font-size: 24px;
        color: #ffffff;
    }

    &__ref {
        font-size: 14px;
        line-height: 20px;
        color: #d1d1d1;
        font-family: "Montserrat-regular";
        text-decoration: none;

        &::after {
            content: "";
            margin: 0 0 0 7px;
            display: inline-block;
            border: 5px solid transparent;
            border-left: 5px solid #d1d1d1;
        }
    }

    &__main {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: #555555;

        & a {
            text-decoration: none;
            color: #00bff3;
        }
    }


    &__blog:hover {
        .other-info__date-or-time {
            color: #c7b299;
        }

        .other-info__main {
            color: #d1d1d1;
        }
    }

    &__blog::after {
        content: "";
        display: block;
        margin: 20px 0;
        background-color: #313131;
        max-width: 100%;
        height: 2px;
    }

    &__blog:nth-last-of-type(1)::after {
        display: none;
    }

    &__date-or-time {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        color: #363636;
    }

    &__widget-figure {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        &-img {
            margin: 0 10px 10px 0;

            &:nth-last-of-type(2n+1) {
                margin: 0;
            }
        }
    }
}

.footer {
    background-color: #111111;
    padding: 45px 375px 50px 375px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    font-family: "Montserrat-regular";

    font-size: 13px;
    line-height: 20px;

    &__items {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item:after {
        content: "|";
        color: #555555;
        margin: 0 12px 0 12px;
    }

    &__item:nth-last-of-type(1)::after {
        display: none;
    }


    & span {
        color: #555555;
        cursor: default;
    }

    & a {
        text-decoration: none;
        color: #959595;
    }

    & a:hover {
        text-decoration: none;
        color: #c7b299;
    }

    &__faq {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 480px) {

    html,
    body {
        width: 480px;
    }

    .header {
        min-height: auto;

        &__menu {
            padding: 30px 20px 50px 20px;
            background-size: cover;
            flex-wrap: wrap;
            position: relative;
            left: 0;
            top: 0;
        }

        &__logo {
            margin: 0 0 0 0;
            font-size: 30px;
            z-index: 3;
            position: relative;
            left: 0;
            transition: scale .5s,
                left .5s,
                z-index .5s;
        }
    }

    #header__menu-toggle {
        display: block;
        opacity: 0;
        position: absolute;
        right: 0;
    }

    #header__menu-toggle:checked~.header__menu-btn>span {
        transform: rotate(45deg);
    }

    #header__menu-toggle:checked~.header__menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #header__menu-toggle:checked~.header__menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #header__menu-toggle:checked~.header__menu-btn {
        position: fixed;
        z-index: 10;
    }

    #header__menu-toggle:checked~.header__nav-items {
        visibility: visible;
        right: 0;
        height: 100vh;
        border-radius: 0;
        padding: 4em 30% 4em 30%;
        opacity: .9;
        align-items: flex-end;
        z-index: 9;
    }

    #header__menu-toggle:checked~.header__logo {
        position: relative;
        left: 4em;
        transition: .5s;
        transform: scale(.7);
        z-index: 10;
    }

    .header__menu-btn {
        display: flex;
        position: absolute;
        top: 50px;
        right: 30px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;

        &-pic,
        &-pic::after,
        &-pic::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #d1d1d1;
            transition-duration: .3s;
        }

        &-pic::after {
            content: '';
            top: 8px;
        }

        &-pic::before {
            content: '';
            top: -8px;
        }
    }

    .header__nav-items {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        visibility: hidden;
        align-items: center;
        top: 0;
        right: -200%;
        left: -30%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        background-color: #333;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        opacity: .4;
        transition: .5s;
        justify-content: center;
        box-sizing: border-box;
        z-index: 1;
        font-size: 1em;
        border-radius: 50%;
        max-width: auto;
    }

    .header__nav-item {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0;
        text-decoration: none;
        color: #c9c8c7;


        &:hover {
            text-decoration: underline;
        }

        &-form {
            margin: 0;
        }

        &-input {
            left: -175px;
            top: 30px;
        }
    }

    .header__carusel,
    .header__pagination {
        display: none;
    }

    .features {
        min-height: 373px;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        justify-content: center;
        align-items: center;

        &__item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            max-width: 45%;
            margin: 0;


        }

        &__item:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            margin: 30px 0 40px 0;
            background-color: #f1eee9;
        }
    }

    .realized-proj,
    .purchase {
        display: none;
    }

    .projects {
        padding: 0 2em 1em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            font-family: "Montserrat-light";
            font-size: 16px;
            color: rgb(140, 140, 140);
            font-weight: 300;
            line-height: 1.75;
            max-width: 730px;
            text-align: center;
            margin: 0 0 48px 0;
        }

        &__nav {
            width: 100%;
            margin: 0;

            &-item {
                padding: 3px 10px 3px 10px;
                font-size: 10px;
                text-align: center;
            }

            &-item:hover {
                cursor: pointer;
                color: #fbfaf8;
                background-color: #998675;
            }
        }

        &__images .content {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin: 40px auto 40px auto;

        }

        &__img {
            margin: 0 auto 2em auto;

            &:nth-child(4),
            &:nth-child(5) {
                margin: 0 auto 2em auto;
            }

            &:nth-child(6) {
                margin: 0 auto;
            }
        }

    }

    .video-presentation {
        &__header {
            font-family: "Raleway";
        }

        &__content {
            text-align: center;
            max-width: 90%;
        }

        &__video {
            width: 480px;
            object-fit: none;
        }

        &__text {
            font-size: 13px;
            line-height: 26px;
        }
    }

    .mobile-dev {
        padding: 82px 32px 0 32px;
        // padding: 0;
        text-align: center;

        &__img {
            display: none;
        }

        &__img-mobile-site {
            display: block;
            max-width: 50%;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__header {
            font-size: 25px;
        }

        &__text {
            font-size: 12px;
            margin: 0 0 45px 0;
        }

        &__items {
            max-width: 50%;
            line-height: 20px;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        &__item {
            font-size: 12px;
            padding: 0;
        }
    }

    .statistics {
        justify-content: center;
        flex-wrap: wrap;
        padding: 3em 2em 3em 2em;

        &__item {
            margin: 0 0 3em 0;
            min-width: 50%;

            &:last-child {
                margin: 0
            }
        }

    }

    .recentpost {
        &__cards {
            flex-wrap: wrap;

        }
    }

    .logos {
        padding: 4em 4em 4em 4em;

        & img {
            width: 80%;
            height: 80%;
        }
    }

    .other-info {
        padding: 5em 2em 3em 2em;
        flex-wrap: wrap;
        justify-content: space-between;

        &__about-item:last-child {
            display: none;
        }

        &__about-item {
            max-width: 45%;

            &:first-child {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 0 0 30px 0;
            }
        }

        &__logo {
            margin: 0 0 30px 0;
        }

        &__text {
            margin: 0 0 10px 0;
        }
    }

    .footer {
        padding: 30px 20px 30px 20px;
        flex-wrap: wrap;
        justify-content: center;

        &__items:first-child {
            margin: 0 0 30px 0;
        }
    }
}

.catalog{
    min-height: 120px;

    &__list{
        background-color: #fbfaf8;
        display: flex;
        &-item{
            border: 1px solid black;
            border-radius: 10px;
            box-sizing: border-box;
            min-width: 300px;
            min-height: 300px;
            padding: 50px;
            margin:15px auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & *{
                padding: 0;
                margin: 0;
            }
            & p{
                font-size: 20px;
            }
            &:hover{    
                background-color: #363636;
                color:#fbfaf8;
            }
            &-vue{
                border: 1px solid black;
                border-radius: 10px;
                box-sizing: border-box;
                max-width: 200px;
                // min-height: 100px;
                padding: 10px;
                margin:15px auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-vue:hover{    
                background-color: #363636;
                color:#fbfaf8;
            }
        }
    }
}

.goods-search{
    border-radius: 15px;
}
.header__nav-vue{
    text-align: center;
}
.vue-h1{
    text-align: center;
    margin:20px 0;
}
.vue-app{
    position: relative;
}
.bin{
    width: 400px;
    min-height: 300px;
    background-color: #363636;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__actualPrice{
        color:#fbfaf8;
    }
}